<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genre</title>
</head>
<body>
    <app-menu></app-menu>
    <br>
<h1 class="liste_title">Liste des Genres</h1>
<div class="container_right">
   <a [routerLink]="[ '/add-genre' ]">
    <button  class="btn btn-primary">Ajouter Un nouveau Gender</button>
   </a> 
</div>
<br>
<br>
<div class ="container_g">
    
    <div class="card">
        <img src="assets/images/logo.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>John Doe</b></h4> 
          <p>Architect & Engineer</p> 
        </div>
    </div>


</div>

</body>
</html>