<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeux</title>
</head>
<body>
    <app-menu></app-menu>
    <br>
    <br>
    <br>
    <app-add-jeu (add)="add_jeu($event)"></app-add-jeu>
<hr>
    <ul>
        <li *ngFor="let i of listjeux" >
                {{i.id}}
                {{i.nom}}
                {{i.description}}
          <a [routerLink]="['/deletejeu/',i.id]"> <button (click)="delete(i.id)">Supprimer</button>  </a>  
        </li>
    </ul>
</body>
</html>