<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca.tn - Subscribe</title>
</head>
<body>
    
    <form action="" style="border:1px solid #ccc">
        <div class="container">
          <h1 class="p_subscribe">S'inscrire</h1>
          <p>S'il vous plaît, remplissez le formulaire par des valeurs valides</p>
          <hr>
      

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Entrer votre adresse ..." name="email" required>
      
          <label for="email"><b>Nom d'utilisateur</b></label>
          <input type="text" placeholder="Entrer votre nom d'utilisateur ..." name="email" required>
      
          <label for="psw"><b>Mot de passe</b></label>
          <input type="password" placeholder="Entrer votre mot de passe ..." name="psw" required>
      
          <label for="psw-repeat"><b>Répéter votre mot de passe </b></label>
          <input type="password" placeholder="Confirmer votre mot de passe ..." name="psw-repeat" required>
                
          <div class="clearfix">
            <button type="button" class="cancelbtn">Vider les champs</button>
            <button type="submit" class="signupbtn">S'inscrire</button>
          </div>
        </div>
      </form>
</body>
</html>